<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Документация сайта</title>
    <!-- Подключение ваших стилей CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<!-- Заголовок страницы -->
<header>
    <h1>Документация сайта</h1>
</header>

<!-- Основное содержимое страницы -->
<main>
    <!-- Секция с общей информацией -->
    <section>
        <h2>Введение</h2>
        <p>Добро пожаловать в документацию нашего сайта. Здесь вы найдете информацию о его использовании, функциональности и прочие руководства.</p>
    </section>

    <!-- Секция с установкой и настройкой -->
    <section>
        <h2>Установка и настройка</h2>
        <p>Наш сайт не требует установки, так как он доступен в сети Интернет.</p>
    </section>

    <!-- Секция с использованием сайта -->
    <section>
        <h2>Использование</h2>
        <p>Для использования сайта просто откройте его в веб-браузере и начните пользоваться им.</p>
    </section>

    <!-- Секция с поддержкой -->
    <section>
        <h2>Поддержка</h2>
        <p>Если у вас возникли вопросы или проблемы с использованием сайта, обратитесь к нашей службе поддержки по адресу support@example.com.</p>
    </section>
</main>

<!-- Подвал страницы -->
<footer>
    <p>&copy; 2024 Все права защищены.</p>
</footer>
</body>
</html>
